# Import Libraries

In [1]:
#import libraries
import pandas as pd
import numpy as np
import requests
from arcgis.gis import GIS
gis = GIS("home")

# Data Extraction

In [2]:
#url List
url = 'https://www.cdph.ca.gov/Programs/CCDPHP/DEODC/CLPPB/Pages/BLLMapsTables2019.aspx#'

r = requests.get(url)
df_list = pd.read_html(r.text)

In [3]:
#iterate through items
for x in range(len(df_list)):
    display(df_list[x])

,Local Health Jurisdiction,Age Group (Years),Blood Lead Level (BLL) <4.5 n,BLL <4.5 % (row),BLL≥4.5 to <9.5 n,BLL ≥4.5 to <9.5 % (row),BLL≥9.5 n,BLL ≥9.5 %(row),Totals
0,Alameda,Age < 6,16176,98.16%,229,1.39%,74,0.45%,16479
1,NaN,Age 6 to 21,2549,97.59%,49,1.88%,14,0.54%,2612
2,NaN,Local Total age < 21,18725,98.08%,278,1.46%,88,0.46%,19091
3,Alpine,Age < 6,Suppressed,Suppressed,Suppressed,Suppressed,Suppressed,Suppressed,Suppressed
4,NaN,Age 6 to 21,Suppressed,Suppressed,Suppressed,Suppressed,Suppressed,Suppressed,Suppressed
...,...,...,...,...,...,...,...,...,...
184,NaN,Age 6 to 21,19,100.00%,--,--,--,--,19
185,NaN,Local Total age < 21,80,100.00%,--,--,--,--,80
186,California Totals,Age < 6,467693,98.80%,4575,0.97%,1128,0.24%,473396
187,NaN,Age 6 to 21,47884,97.54%,948,1.93%,262,0.53%,49094
188,NaN,Local Total age < 21,515577,98.68%,5523,1.06%,1390,0.27%,522490

,Local Health Jurisdiction,BLL < 4.5 n,BLL < 4.5 % (row),BLL ≥ 4.5 n,BLL ≥ 4.5 % (row),Total number of children under 6 screened
0,Humboldt,2048,95.26%,102,4.74%,2150
1,El Dorado,508,96.03%,21,3.97%,529
2,Sacramento,15801,97.11%,470,2.89%,16271
3,Kings,2005,97.71%,47,2.29%,2052
4,Mendocino,1117,97.73%,26,2.27%,1143
5,Madera,4040,97.89%,87,2.11%,4127
6,Solano,4396,97.91%,94,2.09%,4490
7,Yolo,2144,97.99%,44,2.01%,2188
8,Fresno,14468,98.00%,296,2.00%,14764
9,Tulare,6166,98.09%,120,1.91%,6286
10,Alameda,16176,98.16%,303,1.84%,16479
11,Santa Cruz,2300,98.16%,43,1.84%,2343
12,San Francisco,8368,98.18%,155,1.82%,8523
13,Berkeley,511,98.27%,9,1.73%,520
14,Monterey,7620,98.32%,130,1.68%,7750
15,Suppressed Jurisdictions,5299,98.46%,83,1.54%,5382
16,Shasta,529,98.51%,8,1.49%,537
17,Marin,1958,98.54%,29,1.46%,1987
18,Placer,1171,98.57%,17,1.43%,1188
19,Santa Clara,18976,98.59%,271,1.41%,19247
20,San Mateo,5933,98.64%,82,1.36%,6015
21,Merced,3434,98.73%,44,1.27%,3478
22,Imperial,5274,98.78%,65,1.22%,5339
23,Kern,17878,98.80%,218,1.20%,18096
24,San Luis Obispo,1304,98.86%,15,1.14%,1319
25,Contra Costa,7337,98.88%,83,1.12%,7420
26,Sutter,1328,98.88%,15,1.12%,1343
27,Santa Barbara,5690,98.89%,64,1.11%,5754
28,Stanislaus,7089,98.94%,76,1.06%,7165
29,Los Angeles,122807,98.96%,1293,1.04%,124100
30,San Diego,40829,98.97%,424,1.03%,41253
31,San Joaquin,11373,98.97%,118,1.03%,11491
32,Tehama,1506,99.01%,15,0.99%,1521
33,Orange,31105,99.09%,286,0.91%,31391
34,Pasadena,1309,99.17%,11,0.83%,1320
35,Long Beach,5666,99.28%,41,0.72%,5707
36,San Bernardino,32869,99.29%,234,0.71%,33103
37,Napa,893,99.33%,6,0.67%,899
38,Butte,1679,99.35%,11,0.65%,1690
39,Sonoma,2799,99.36%,18,0.64%,2817
40,Riverside,34688,99.47%,185,0.53%,34873
41,Ventura,9241,99.53%,44,0.47%,9285
42,Tests with unknown jurisdictions,61,100.00%,0,0.00%,61
43,California Totals,467693,98.80%,5703,1.20%,473396

,Local Health Jurisdiction,BLL < 9.5 n,BLL < 9.5 % (row),BLL ≥ 9.5 n,BLL ≥ 9.5 % (row),Totals
0,Sacramento,16162,99.33%,109,0.67%,16271
1,Humboldt,2139,99.49%,11,0.51%,2150
2,Monterey,7712,99.51%,38,0.49%,7750
3,Santa Cruz,2332,99.53%,11,0.47%,2343
4,Yolo,2178,99.54%,10,0.46%,2188
5,Alameda,16405,99.55%,74,0.45%,16479
6,Madera,4110,99.59%,17,0.41%,4127
7,Kings,2044,99.61%,8,0.39%,2052
8,El Dorado,527,99.62%,2,0.38%,529
9,San Francisco,8491,99.62%,32,0.38%,8523
10,San Joaquin,11453,99.67%,38,0.33%,11491
11,Fresno,14717,99.68%,47,0.32%,14764
12,Santa Clara,19185,99.68%,62,0.32%,19247
13,Imperial,5323,99.70%,16,0.30%,5339
14,Marin,1981,99.70%,6,0.30%,1987
15,Pasadena,1316,99.70%,4,0.30%,1320
16,Tulare,6268,99.71%,18,0.29%,6286
17,Suppressed Jurisdictions,9363,99.72%,26,0.28%,9389
18,San Mateo,5999,99.73%,16,0.27%,6015
19,Merced,3469,99.74%,9,0.26%,3478
20,Santa Barbara,5739,99.74%,15,0.26%,5754
21,Placer,1185,99.75%,3,0.25%,1188
22,Solano,4479,99.76%,11,0.24%,4490
23,Contra Costa,7403,99.77%,17,0.23%,7420
24,San Diego,41166,99.79%,87,0.21%,41253
25,Sonoma,2811,99.79%,6,0.21%,2817
26,Kern,18060,99.80%,36,0.20%,18096
27,Stanislaus,7151,99.80%,14,0.20%,7165
28,Berkeley,519,99.81%,1,0.19%,520
29,Shasta,536,99.81%,1,0.19%,537
30,Butte,1687,99.82%,3,0.18%,1690
31,Los Angeles,123873,99.82%,227,0.18%,124100
32,Orange,31339,99.83%,52,0.17%,31391
33,Long Beach,5699,99.86%,8,0.14%,5707
34,San Bernardino,33061,99.87%,42,0.13%,33103
35,Ventura,9273,99.87%,12,0.13%,9285
36,Riverside,34835,99.89%,38,0.11%,34873
37,San Luis Obispo,1318,99.92%,1,0.08%,1319
38,Napa,899,100.00%,0,0.00%,899
39,Tests with unknown jurisdictions,61,100.00%,0,0.00%,61
40,California Totals,472268,99.76%,1128,0.24%,473396

In [4]:
#only use the first dataframe
df = df_list[0]
#inspect first and last 5 rows
display(df.head(), df.tail())

,Local Health Jurisdiction,Age Group (Years),Blood Lead Level (BLL) <4.5 n,BLL <4.5 % (row),BLL≥4.5 to <9.5 n,BLL ≥4.5 to <9.5 % (row),BLL≥9.5 n,BLL ≥9.5 %(row),Totals
0,Alameda,Age < 6,16176,98.16%,229,1.39%,74,0.45%,16479
1,NaN,Age 6 to 21,2549,97.59%,49,1.88%,14,0.54%,2612
2,NaN,Local Total age < 21,18725,98.08%,278,1.46%,88,0.46%,19091
3,Alpine,Age < 6,Suppressed,Suppressed,Suppressed,Suppressed,Suppressed,Suppressed,Suppressed
4,NaN,Age 6 to 21,Suppressed,Suppressed,Suppressed,Suppressed,Suppressed,Suppressed,Suppressed

,Local Health Jurisdiction,Age Group (Years),Blood Lead Level (BLL) <4.5 n,BLL <4.5 % (row),BLL≥4.5 to <9.5 n,BLL ≥4.5 to <9.5 % (row),BLL≥9.5 n,BLL ≥9.5 %(row),Totals
184,NaN,Age 6 to 21,19,100.00%,--,--,--,--,19
185,NaN,Local Total age < 21,80,100.00%,--,--,--,--,80
186,California Totals,Age < 6,467693,98.80%,4575,0.97%,1128,0.24%,473396
187,NaN,Age 6 to 21,47884,97.54%,948,1.93%,262,0.53%,49094
188,NaN,Local Total age < 21,515577,98.68%,5523,1.06%,1390,0.27%,522490

## Data Cleaning

In [5]:
#strip extra spacing
for x in df.columns:
    df[x] = df[x].str.lstrip()
    
display(df.head(), df.tail())

,Local Health Jurisdiction,Age Group (Years),Blood Lead Level (BLL) <4.5 n,BLL <4.5 % (row),BLL≥4.5 to <9.5 n,BLL ≥4.5 to <9.5 % (row),BLL≥9.5 n,BLL ≥9.5 %(row),Totals
0,Alameda,Age < 6,16176,98.16%,229,1.39%,74,0.45%,16479
1,NaN,Age 6 to 21,2549,97.59%,49,1.88%,14,0.54%,2612
2,NaN,Local Total age < 21,18725,98.08%,278,1.46%,88,0.46%,19091
3,Alpine,Age < 6,Suppressed,Suppressed,Suppressed,Suppressed,Suppressed,Suppressed,Suppressed
4,NaN,Age 6 to 21,Suppressed,Suppressed,Suppressed,Suppressed,Suppressed,Suppressed,Suppressed

,Local Health Jurisdiction,Age Group (Years),Blood Lead Level (BLL) <4.5 n,BLL <4.5 % (row),BLL≥4.5 to <9.5 n,BLL ≥4.5 to <9.5 % (row),BLL≥9.5 n,BLL ≥9.5 %(row),Totals
184,NaN,Age 6 to 21,19,100.00%,--,--,--,--,19
185,NaN,Local Total age < 21,80,100.00%,--,--,--,--,80
186,California Totals,Age < 6,467693,98.80%,4575,0.97%,1128,0.24%,473396
187,NaN,Age 6 to 21,47884,97.54%,948,1.93%,262,0.53%,49094
188,NaN,Local Total age < 21,515577,98.68%,5523,1.06%,1390,0.27%,522490

In [6]:
#replaces 'Suppressed' to nan value
#replaces '--' to nan value

for x in df.columns:
    df[x] = df[x].replace('Suppressed', np.nan)
    df[x] = df[x].replace('--', np.nan)
    
display(df.head(), df.tail())

,Local Health Jurisdiction,Age Group (Years),Blood Lead Level (BLL) <4.5 n,BLL <4.5 % (row),BLL≥4.5 to <9.5 n,BLL ≥4.5 to <9.5 % (row),BLL≥9.5 n,BLL ≥9.5 %(row),Totals
0,Alameda,Age < 6,16176,98.16%,229,1.39%,74,0.45%,16479
1,NaN,Age 6 to 21,2549,97.59%,49,1.88%,14,0.54%,2612
2,NaN,Local Total age < 21,18725,98.08%,278,1.46%,88,0.46%,19091
3,Alpine,Age < 6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Age 6 to 21,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Local Health Jurisdiction,Age Group (Years),Blood Lead Level (BLL) <4.5 n,BLL <4.5 % (row),BLL≥4.5 to <9.5 n,BLL ≥4.5 to <9.5 % (row),BLL≥9.5 n,BLL ≥9.5 %(row),Totals
184,NaN,Age 6 to 21,19,100.00%,NaN,NaN,NaN,NaN,19
185,NaN,Local Total age < 21,80,100.00%,NaN,NaN,NaN,NaN,80
186,California Totals,Age < 6,467693,98.80%,4575,0.97%,1128,0.24%,473396
187,NaN,Age 6 to 21,47884,97.54%,948,1.93%,262,0.53%,49094
188,NaN,Local Total age < 21,515577,98.68%,5523,1.06%,1390,0.27%,522490

In [7]:
#add state for accurate geococodding
df['State'] = 'California'

In [8]:
#check columns
df.columns

Index(['Local  Health Jurisdiction', 'Age Group (Years)',
       'Blood Lead Level (BLL) <4.5 n', 'BLL <4.5 % (row)',
       'BLL≥4.5 to <9.5 n', 'BLL ≥4.5 to <9.5 % (row)', 'BLL≥9.5 n',
       'BLL ≥9.5 %(row)', 'Totals', 'State'],
      dtype='object')

In [9]:
#fills nan values in county column with the front value
df['Local  Health Jurisdiction'] = df['Local  Health Jurisdiction'].replace(np.nan, method= 'ffill')

In [10]:
#display dataframe
display(df.head(), df.tail())

,Local Health Jurisdiction,Age Group (Years),Blood Lead Level (BLL) <4.5 n,BLL <4.5 % (row),BLL≥4.5 to <9.5 n,BLL ≥4.5 to <9.5 % (row),BLL≥9.5 n,BLL ≥9.5 %(row),Totals,State
0,Alameda,Age < 6,16176,98.16%,229,1.39%,74,0.45%,16479,California
1,Alameda,Age 6 to 21,2549,97.59%,49,1.88%,14,0.54%,2612,California
2,Alameda,Local Total age < 21,18725,98.08%,278,1.46%,88,0.46%,19091,California
3,Alpine,Age < 6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,California
4,Alpine,Age 6 to 21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,California

,Local Health Jurisdiction,Age Group (Years),Blood Lead Level (BLL) <4.5 n,BLL <4.5 % (row),BLL≥4.5 to <9.5 n,BLL ≥4.5 to <9.5 % (row),BLL≥9.5 n,BLL ≥9.5 %(row),Totals,State
184,CLPPB,Age 6 to 21,19,100.00%,NaN,NaN,NaN,NaN,19,California
185,CLPPB,Local Total age < 21,80,100.00%,NaN,NaN,NaN,NaN,80,California
186,California Totals,Age < 6,467693,98.80%,4575,0.97%,1128,0.24%,473396,California
187,California Totals,Age 6 to 21,47884,97.54%,948,1.93%,262,0.53%,49094,California
188,California Totals,Local Total age < 21,515577,98.68%,5523,1.06%,1390,0.27%,522490,California

In [11]:
#inspect last 10 rows
df.tail(10)

,Local Health Jurisdiction,Age Group (Years),Blood Lead Level (BLL) <4.5 n,BLL <4.5 % (row),BLL≥4.5 to <9.5 n,BLL ≥4.5 to <9.5 % (row),BLL≥9.5 n,BLL ≥9.5 %(row),Totals,State
179,Yolo,Local Total age < 21,2234,98.03%,35,1.54%,10,0.44%,2279,California
180,Yuba,Age < 6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,California
181,Yuba,Age 6 to 21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,California
182,Yuba,Local Total age < 21,NaN,NaN,NaN,NaN,NaN,NaN,990,California
183,CLPPB,Age < 6,61,100.00%,NaN,NaN,NaN,NaN,61,California
184,CLPPB,Age 6 to 21,19,100.00%,NaN,NaN,NaN,NaN,19,California
185,CLPPB,Local Total age < 21,80,100.00%,NaN,NaN,NaN,NaN,80,California
186,California Totals,Age < 6,467693,98.80%,4575,0.97%,1128,0.24%,473396,California
187,California Totals,Age 6 to 21,47884,97.54%,948,1.93%,262,0.53%,49094,California
188,California Totals,Local Total age < 21,515577,98.68%,5523,1.06%,1390,0.27%,522490,California

In [12]:
#remove last 6 rows
#they are not county rows
df.drop(df.tail(6).index, inplace = True)

In [13]:
#check out objects
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 183 entries, 0 to 182
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Local  Health Jurisdiction     183 non-null    object
 1   Age Group (Years)              183 non-null    object
 2   Blood Lead Level (BLL) <4.5 n  117 non-null    object
 3   BLL <4.5 % (row)               117 non-null    object
 4   BLL≥4.5 to <9.5 n              112 non-null    object
 5   BLL ≥4.5 to <9.5 % (row)       112 non-null    object
 6   BLL≥9.5 n                      101 non-null    object
 7   BLL ≥9.5 %(row)                101 non-null    object
 8   Totals                         142 non-null    object
 9   State                          183 non-null    object
dtypes: object(10)
memory usage: 15.7+ KB

In [14]:
#change data types
df['BLL <4.5 % (row)'] = df['BLL <4.5 % (row)'].str.rstrip('%').astype('float') / 100.0
df['BLL ≥4.5 to <9.5 % (row)'] = df['BLL ≥4.5 to <9.5 % (row)'].str.rstrip('%').astype('float') / 100.0
df['BLL ≥9.5 %(row)'] = df['BLL ≥9.5 %(row)'].str.rstrip('%').astype('float') / 100.0

df['Blood Lead Level (BLL) <4.5 n'] = pd.to_numeric(df['Blood Lead Level (BLL) <4.5 n'], errors = 'coerce')
df['BLL≥4.5 to <9.5 n'] = pd.to_numeric(df['BLL≥4.5 to <9.5 n'], errors = 'coerce')
df['BLL≥9.5 n'] = pd.to_numeric(df['BLL≥9.5 n'], errors = 'coerce')
df['Totals'] = pd.to_numeric(df['Totals'], errors = 'coerce')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 183 entries, 0 to 182
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Local  Health Jurisdiction     183 non-null    object
 1   Age Group (Years)              183 non-null    object
 2   Blood Lead Level (BLL) <4.5 n  117 non-null    float64
 3   BLL <4.5 % (row)               117 non-null    float64
 4   BLL≥4.5 to <9.5 n              112 non-null    float64
 5   BLL ≥4.5 to <9.5 % (row)       112 non-null    float64
 6   BLL≥9.5 n                      101 non-null    float64
 7   BLL ≥9.5 %(row)                101 non-null    float64
 8   Totals                         142 non-null    float64
 9   State                          183 non-null    object
dtypes: float64(7), object(3)
memory usage: 15.7+ KB

In [16]:
#Final CheckUp
df.head()

,Local Health Jurisdiction,Age Group (Years),Blood Lead Level (BLL) <4.5 n,BLL <4.5 % (row),BLL≥4.5 to <9.5 n,BLL ≥4.5 to <9.5 % (row),BLL≥9.5 n,BLL ≥9.5 %(row),Totals,State
0,Alameda,Age < 6,16176.0,0.9816,229.0,0.0139,74.0,0.0045,16479.0,California
1,Alameda,Age 6 to 21,2549.0,0.9759,49.0,0.0188,14.0,0.0054,2612.0,California
2,Alameda,Local Total age < 21,18725.0,0.9808,278.0,0.0146,88.0,0.0046,19091.0,California
3,Alpine,Age < 6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,California
4,Alpine,Age 6 to 21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,California

In [17]:
#enter file to csv
df.to_csv('/arcgis/home/cdph.csv', index = False)

# GEOCODING

In [35]:
CA_map = gis.map('CA, USA')
CA_map

MapView(layout=Layout(height='400px', width='100%'))

In [45]:
# Item Added From Toolbar
# Title: CDPH Blood Levels V2 | Type: Feature Service | Owner: jyim1021
item = gis.content.get("a676890fe734425693f30db010589991")
item

In [46]:
CA_map.add_layer(item)